<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Menu</span>
                </a>
                <ul aria-expanded="false">
                    <li class="mm-active"><a routerLink="/dashboard">Dashboard</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Investment Plans</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Agro Investment</a></li>
                    <li><a href="#">Farm Product</a></li>
                    <li><a href="#">Property Investment</a></li>
                </ul>
            </li>
            <li><a href="#" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text">Fund Account</span>
                </a>
            </li>

            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-network"></i>
                    <span class="nav-text">Account</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Investment</a></li>
                    <li><a href="#">Wallet</a></li>
                </ul>
            </li>

        </ul>

        <!-- <div class="copyright">
            <p><strong>Mophy Payment Admin Dashboard</strong> © 2022 All Rights Reserved</p>
            <p>Made with <span class="heart"></span> by DexignZone</p>
        </div> -->
    </div>
</div>
