<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>


<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="form-head mb-4">
            <h2 class="text-black font-w600 mb-0">Dashboard</h2>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-7 col-sm-8">
                        <div class="card-bx stacked">
                            <img src="/assets/images/card/card.png" alt="" class="mw-100">
                            <div class="card-info text-white">
                                <p class="mb-1">Total</p>
                                <h2 class="fs-36 text-white mb-sm-4 mb-3">$673,412.66</h2>
                                <div class="d-flex align-items-center justify-content-between mb-sm-5 mb-3">
                                    <img src="/assets/images/dual-dot.png" alt="" class="dot-img">
                                    <h4 class="fs-20 text-white mb-0">**** **** **** 1234</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-6 col-sm-6">
                        <div class="card">
                            <div class="card-header flex-wrap border-0 pb-0">
                                <div class="me-3 mb-2">
                                    <p class="fs-14 mb-1">Earning</p>
                                    <span class="fs-24 text-black font-w600">$65,123</span>
                                </div>
                                <span class="fs-12 mb-2">
                                    <svg width="21" height="15" viewBox="0 0 21 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.999939 13.5C1.91791 12.4157 4.89722 9.22772 6.49994 7.5L12.4999 10.5L19.4999 1.5"
                                            stroke="#2BC155" stroke-width="2" />
                                        <path
                                            d="M6.49994 7.5C4.89722 9.22772 1.91791 12.4157 0.999939 13.5H19.4999V1.5L12.4999 10.5L6.49994 7.5Z"
                                            fill="url(#paint0_linear)" />
                                        <defs>
                                            <linearGradient id="paint0_linear" x1="10.2499" y1="3" x2="10.9999"
                                                y2="13.5" gradientUnits="userSpaceOnUse">
                                                <stop offset="0" stop-color="#2BC155" stop-opacity="0.73" />
                                                <stop offset="1" stop-color="#2BC155" stop-opacity="0" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    4% (30 days)</span>
                            </div>
                            <div class="card-body p-0">
                                <canvas id="widgetChart1" height="80"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-6">
                        <div class="card">
                            <div class="card-header flex-wrap border-0 pb-0">
                                <div class="me-3 mb-2">
                                    <p class="fs-14 mb-1">Withdraw</p>
                                    <span class="fs-24 text-black font-w600">$24,551</span>
                                </div>
                                <span class="fs-12 mb-2">
                                    <svg width="21" height="15" viewBox="0 0 21 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.3514 7.5C15.9974 9.37169 19.0572 12.8253 20 14H1V1L8.18919 10.75L14.3514 7.5Z"
                                            fill="url(#paint0_linear1)" />
                                        <path d="M19.5 13.5C18.582 12.4157 15.6027 9.22772 14 7.5L8 10.5L1 1.5"
                                            stroke="#FF2E2E" stroke-width="2" stroke-linecap="round" />
                                        <defs>
                                            <linearGradient id="paint0_linear1" x1="10.5" y1="2.625" x2="9.64345"
                                                y2="13.9935" gradientUnits="userSpaceOnUse">
                                                <stop offset="0" stop-color="#FF2E2E" />
                                                <stop offset="1" stop-color="#FF2E2E" stop-opacity="0.03" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    4% (30 days)</span>
                            </div>
                            <div class="card-body p-0">
                                <canvas id="widgetChart2" height="80"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pb-1">
                        <div class="row align-items-center">
                            <div class="col-xl-5 col-xxl-12 col-md-5">
                                <h4 class="fs-20 text-black mb-4">Investment Stats</h4>
                                <div class="row">
                                    <div class="d-flex col-xl-12 col-xxl-6  col-md-12 col-sm-6 mb-4">
                                        <svg class="me-3" width="14" height="54" viewBox="0 0 14 54" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect x="-6.10352e-05" width="14" height="54" rx="7" fill="#AC39D4" />
                                        </svg>
                                        <div>
                                            <p class="fs-14 mb-2">Investment</p>
                                            <span class="fs-18 font-w500"><span
                                                    class="text-black me-2">$1,415</span>/$2,000</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-xl-12 col-xxl-6 col-md-12 col-sm-6 mb-4">
                                        <svg class="me-3" width="14" height="54" viewBox="0 0 14 54" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect x="-6.10352e-05" width="14" height="54" rx="7" fill="#40D4A8" />
                                        </svg>
                                        <div>
                                            <p class="fs-14 mb-2">Installment</p>
                                            <span class="fs-18 font-w500"><span
                                                    class="text-black me-2">$1,567</span>/$5,000</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-xl-12 col-xxl-6 col-md-12 col-sm-6 mb-4">
                                        <svg class="me-3" width="14" height="54" viewBox="0 0 14 54" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect x="-6.10352e-05" width="14" height="54" rx="7" fill="#1EB6E7" />
                                        </svg>
                                        <div>
                                            <p class="fs-14 mb-2">Restaurant</p>
                                            <span class="fs-18 font-w500"><span
                                                    class="text-black me-2">$487</span>/$10,000</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-xl-12 col-xxl-6 col-md-12 col-sm-6 mb-4">
                                        <svg class="me-3" width="14" height="54" viewBox="0 0 14 54" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect x="-6.10352e-05" width="14" height="54" rx="7" fill="#461EE7" />
                                        </svg>
                                        <div>
                                            <p class="fs-14 mb-2">Property</p>
                                            <span class="fs-18 font-w500"><span
                                                    class="text-black me-2">$3,890</span>/$4,000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7  col-xxl-12 col-md-7">
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <div class="bg-secondary rounded text-center p-3">
                                            <div class="d-inline-block position-relative donut-chart-sale mb-3">
                                                <span class="donut1"
                                                    data-peity='{ "fill": ["rgb(255, 255, 255)", "rgba(255, 255, 255, 0.2)"],   "innerRadius": 33, "radius": 10}'>5/8</span>
                                                <small class="text-white">71%</small>
                                            </div>
                                            <span class="fs-14 text-white d-block">Investment</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="bg-success rounded text-center p-3">
                                            <div class="d-inline-block position-relative donut-chart-sale mb-3">
                                                <span class="donut1"
                                                    data-peity='{ "fill": ["rgb(255, 255, 255)", "rgba(255, 255, 255, 0.2)"],   "innerRadius": 33, "radius": 10}'>3/8</span>
                                                <small class="text-white">30%</small>
                                            </div>
                                            <span class="fs-14 text-white d-block">Installment</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="border border-2 border-primary rounded text-center p-3">
                                            <div class="d-inline-block position-relative donut-chart-sale mb-3">
                                                <span class="donut1"
                                                    data-peity='{ "fill": ["rgb(30, 170, 231)", "rgba(234, 234, 234, 1)"],   "innerRadius": 33, "radius": 10}'>1/8</span>
                                                <small class="text-black">5%</small>
                                            </div>
                                            <span class="fs-14 text-black d-block">Restaurant</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="bg-info rounded text-center p-3">
                                            <div class="d-inline-block position-relative donut-chart-sale mb-3">
                                                <span class="donut1"
                                                    data-peity='{ "fill": ["rgb(255, 255, 255)", "rgba(255, 255, 255, 0.2)"],   "innerRadius": 33, "radius": 10}'>9/10</span>
                                                <small class="text-white">96%</small>
                                            </div>
                                            <span class="fs-14 text-white d-block">Property</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header d-sm-flex d-block border-0 pb-0 flex-wrap">
                        <div class="pr-3 me-auto mb-sm-0 mb-3">
                            <h4 class="fs-20 text-black mb-1">Transaction Overview</h4>
                            <span class="fs-12">Details of how your investment is doing</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="javascript:void(0)" class="btn btn-rounded btn-light me-3" data-bs-toggle="modal"
                                data-bs-target="#DownloadReport"><i
                                    class="las la-download text-primary scale5 me-3"></i>Download
                                Report</a>
                            <!-- Modal -->
                            <div class="modal fade" id="DownloadReport">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Notification</h5>
                                            <button type="button" class="close"
                                                data-bs-dismiss="modal"><span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Transaction statement is currently not avialbale for download at
                                                the moment!
                                                You can contact the admin for more details.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger light"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chartBar"></div>
                        <div class="d-flex">
                            <div class="form-check custom-switch toggle-switch text-end me-4">
                                <input type="checkbox" class="form-check-input mt-0" id="customSwitch11">
                                <label class="form-check-label fs-14 text-black pe-2"
                                    for="customSwitch11">Number</label>
                            </div>
                            <div class="form-check custom-switch toggle-switch text-end me-4">
                                <input type="checkbox" class="form-check-input mt-0" id="customSwitch12">
                                <label class="form-check-label fs-14 text-black pe-2"
                                    for="customSwitch12">Analytics</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer-page></app-footer-page>
